/*! Change 1 Nav Bar Color */
#mainNav {
    background-color: rgba(117, 142, 191, .6); /*! This is the color change. Everthing else is just to maintain formatting*/
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  #mainNav .navbar-brand {
    color: #e6a756;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link {
    color: #e6a756;
  }
  @media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
      font-size: 0.9rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: rgba(255, 255, 255, 0.4);
    }
    #mainNav .navbar-nav .nav-item.active .nav-link:hover {
      color: #e6a756;
    }
}
/*! Change 2 Home Page Link Box Fill Color */
/*! I changed the color when the button is clicked as well as the shadow from hovering over the box */
.btn-primary {
    color: #000;
    background-color: #758ebf;
    border-color: #758ebf;
  }
  .btn-primary:hover {
    color: #000;
    background-color: #758ebf;
    border-color: #758ebf;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #000;
    background-color: #758ebf;
    border-color: #758ebf;
    box-shadow: 0 0 0 0.25rem rgba(117, 142, 191, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #758ebf;
    border-color: #758ebf;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(117, 142, 191, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #000;
    background-color: #758ebf;
    border-color: #758ebf;
  }

  /*! Change 3 Footer Color */
.footer {
    background-color: rgba(117, 142, 191, 0.6);
}

/*! Changed Background Color of Text Boxes */
.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(117, 142, 191, 0.9);
}
.bg-faded {
    background-color: #dcdfe3;
  }

  /*! Changed Text Color */
.text-faded {
    color: white;
}
    :root {
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #e9ecef;
        --bs-gray-300: #dee2e6;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #adb5bd;
        --bs-gray-600: #6c757d;
        --bs-gray-700: #495057;
        --bs-gray-800: #343a40;
        --bs-gray-900: #212529;
        --bs-primary: #e6a756;
        --bs-secondary: #2F170F;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-primary-rgb: 117, 142, 191;
        --bs-secondary-rgb: 47, 23, 15;
        --bs-success-rgb: 25, 135, 84;
        --bs-info-rgb: 13, 202, 240;
        --bs-warning-rgb: 255, 193, 7;
        --bs-danger-rgb: 220, 53, 69;
        --bs-light-rgb: 248, 249, 250;
        --bs-dark-rgb: 33, 37, 41;
        --bs-white-rgb: 255, 255, 255;
        --bs-black-rgb: 0, 0, 0;
        --bs-body-color-rgb: 33, 37, 41;
        --bs-body-bg-rgb: 255, 255, 255;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        --bs-body-font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        --bs-body-font-size: 1rem;
        --bs-body-font-weight: 400;
        --bs-body-line-height: 1.5;
        --bs-body-color: #212529;
        --bs-body-bg: #fff;
      }
      .text-primary {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
      }      
      .color{
        color:#758ebf;
      }
/*!Tableau*/
.common{
  text-align: center;
  position: static;
  color: white;
}
.header{
  size: 60px;
  
}

.body{
  size: 18px;
  color: lightgray;
}

.footer{
  size: 24px;
  text-align: left;
}
